[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]


[packages]
ansible = "==2.6.*"
molecule = "==2.17.*"
docker = "==3.5.*"

[requires]
python_version = "3.7"
