[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]


[packages]
ansible = "==2.7.*"
molecule = "==2.19.*"
docker = "==3.6.*"

[requires]
python_version = "3.7"
