# ZNC IRC bouncer service

description "ZNC IRC bouncer service"
author      "Jonathan Hanson <jonathan@jonathan-hanson.org>"

start on runlevel [2345]
stop on runlevel [06]

respawn
respawn limit 15 5

setuid {{ znc_exec_user }}

exec /usr/local/bin/znc --datadir={{ znc_config_root }} --foreground {% if znc_exec_with_debug %}--debug{% endif %}
